.checkbox{
    margin-left: 20px;   
}
            
.login-form{
    width: 70%; !important;  
}
            
.login-form a{
    color: #fff !important;  
}
            
.login-form .btn{
    border-radius: 3px;   
}

.btn-dir{
    margin-left: 10px;   
}


.input-group .form-control:first-child{
    height: 70px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
            
.input-group-btn:last-child > .btn{
    height: 70px;
    width: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;        
}