.checkbox{
    margin-left: 20px;   
}
            
.login-form{
    width: 70%; !important;  
}
            
.login-form a{
    color: #333 !important;  
}
            
.login-form .btn{
    border-radius: 300px;   
}