<!DOCTYPE html>
<html>
	<head>
		<link href="css/style.css" rel="stylesheet">
		{{> headLogado}}
		<style>
		@media screen and (max-width: 500px){
            .login-form .btn {
                width: 100%;
                display: block;
                margin-left: 0px;
                margin-bottom: 10px;
            }
        }
		</style>
	</head>

	<body class="login-img3-body">
		{{> nav}}
		<div class="container">
			<form class="login-form" action="/autenticar-usuario" method="post"> 
				<div class="login-wrap">
					<p class="login-img"><img src="img/lock.png" width="40"></p>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input name="login" type="text" class="form-control" placeholder="Nome de Usuário" autofocus required>
					</div>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input name="senha" type="password" class="form-control" placeholder="Senha" required>
					</div>
					<input class="btn btn-info btn-lg" type="submit" value="Entrar">
					<a class="btn btn-info btn-lg btn-dir" href="/cadastrar-usuario">Cadastrar-se</a>
				</div>
		  </form>
		</div>
		{{> scripts}}
	</body>
</html>
