<!DOCTYPE html>
<html>
	<head>
		{{> head}}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="css/busca.css" type="text/css">
        <style>
            
            .modal-dialog{
                min-width: 80%;
                margin-top: 20vh;
            }  
            
			.fonte-titulo {
				font-family: sans-serif;
				font-size: 16px;
				color: #808080;
                text-align: center;
			}

			.fonte-nota {
				font-family: sans-serif;
				font-size: 14px;
				color: black;
			}

			.vermelho {
				 color: #c52f2a;
			}
            
            .espaco-ap{
                width: 27%;
                text-align: center;
            }
            
            .espaco-resumo{
                width: 60%;
                text-align: justify;
                padding-left: 10px;
                padding-right: 10px;
                
            }
            
            .espaco-nt{
                width: 13%;
                text-align: center;
            }

            .espaco-normal{
                width: 50%;
                text-align: center;
            }
        </style>
	</head>
	<body id="page-top">
		{{> nav}}
	   <header>
			<div class="header-content">
				<div class="header-content-inner">
					<h1>Avaliador</h1>
					<hr>
					<p>Busque por suas apresentações aqui!</p>
					<center>
						<div class="input-group">
							<input type="text" name="titulo" id="palavra" class="form-control" required>
							<span class="input-group-btn">
					       		<button href="#myModal" id="openBtn" data-toggle="modal" class="btn btn-info" name="btnPesquisar" onclick="submitForm();">Buscar</button>
							</span>
						</div>
						<hr>
						<p>Selecione a opção de busca.</p>
						<div class="btn-group" data-toggle="buttons">
    						<label class="btn btn-default">
        						<input type="radio" name="opcao" id="radio_titulo" value="titulo" checked>
   							 		Titulo
   							</label>
    						<label class="btn btn-default">
        						<input type="radio" name="opcao" id="radio_resumo" value="resumo">
    								Resumo
    						</label>
    						<label class="btn btn-default">
        						<input type="radio" name="opcao" id="radio_autor" value="autor">
    								Autor 
    						</label>
						</div>
						<div class="modal fade" id="myModal">
						<div class="modal-dialog">
							      <div class="modal-content">
							        <div class="modal-header">
							          <h3 class="modal-title fonte-titulo">Resultados da pesquisa:</h3>
							        </div>
							        <div class="modal-body">
										<div id="avaliacoes">      
								        </div>
									</div>
							        <div class="modal-footer">
							          	<button type="button" class="btn btn-danger" data-dismiss="modal">
							          		Fechar
							          	</button>
							        </div>		
							      </div>
							    </div>
						</div>
					</center>
				</div>
			</div>
		</header>
		<script>
		//função bloqueia envio de informação apertando enter
		$( document ).ready(function() {
    			$('#titulo').on("keyup keypress", function(e) {
  				var code = e.keyCode || e.which; 
  					if (code  == 13) {               
    					e.preventDefault();
    					return false;
  					}
				});
		});

		function submitForm() {
    		var radios = document.getElementsByName('opcao');
    		var nome = document.getElementById("palavra").value;

			for (var i = 0, length = radios.length; i < length; i++) {
			    if (radios[i].checked) {
        			if (radios[i].value === 'titulo') {
 						$.ajax({
								url: '/buscar-titulo?titulo=' + nome,
								type: 'POST'
						 }).done(function(data) {					
							var template = 
							+'<table class="table table-striped resultados" id="tblGrid">'
							+	'<thead id="tblHead">'
							+		'<tr>'
							+			'<th class="fonte-titulo">Título da Apresentação</th>'
							+			'<th class="fonte-titulo">Nota</th>'
							+		'</tr>'
							+	'</thead>'
							+   '<tbody>'
							+		'<tr>'
							+			'<td class="fonte-nota espaco-normal">${tituloApresentacao}</td>'
							+			'<td class="fonte-nota espaco-normal">${mediaFinal}</td>'
							+    	'</tr>'
							+ 	'</tbody>'
							+'</table>';
							$('#avaliacoes').empty();
							for(var i = 0; i < data.length; i++) {   
								var html = template.replace('${tituloApresentacao}', data[i].tituloApresentacao)
												   .replace('${mediaFinal}', data[i].mediaFinal.toFixed(2));
								$('#avaliacoes').append(html);
							}		
						});
        			} else if(radios[i].value === 'resumo') {
        				$.ajax({
								url: '/buscar-resumo?resumo=' + nome,
								type: 'POST'
						 }).done(function(data) {					
							var template = 
							+'<table class="table table-striped" id="tblGrid">'
							+	'<thead id="tblHead">'
							+	'<tr>'
							+		'<th class="fonte-titulo">Título da apresentação</th>'
							+		'<th class="fonte-titulo">Resumo</th>'
							+		'<th class="fonte-titulo">Nota</th>'
							+	'</tr>'
							+	'</thead>'
							+   '<tbody>'
							+	'<tr>'
							+		'<td class="fonte-nota espaco-ap">${tituloApresentacao}</td>'
							+		'<td class="fonte-nota espaco-resumo">${resumoApresentacao}</td>'
							+		'<td class="fonte-nota espaco-nt">${mediaFinal}</td>'
							+	'</tr>'
							+   '</tbody>'
							+'</table>';
							$('#avaliacoes').empty();
							for(var i = 0; i < data.length; i++) {   
								var html = template.replace('${tituloApresentacao}', data[i].tituloApresentacao).replace('${resumoApresentacao}', data[i].resumoApresentacao).replace('${mediaFinal}', data[i].mediaFinal.toFixed(2));
								$('#avaliacoes').append(html);
							}		
						});
        			} else {
        				        				$.ajax({
								url: '/buscar-autor?autor=' + nome,
								type: 'POST'
						 }).done(function(data) {					
							var template = 
							+'<table class="table table-striped" id="tblGrid">'
							+	'<thead id="tblHead">'
							+		'<tr>'
							+			'<th class="fonte-titulo">Autor</th>'
							+			'<th class="fonte-titulo">Título da apresentação</th>'
							+			'<th class="fonte-titulo">Nota</th>'
							+		'</tr>'
							+	'</thead>'
							+	'<tbody>'
							+		'<tr>'
							+			'<td class="fonte-nota espaco-ap">${autor}</td>'
							+			'<td class="fonte-nota espaco-resumo">${resumoApresentacao}</td>'
							+			'<td class="fonte-nota espaco-nt">${mediaFinal}</td>'
							+		'</tr>'
							+	'</tbody>'
							+'</table>';
							$('#avaliacoes').empty();
							for(var i = 0; i < data.length; i++) {   
								var html = template.replace('${autor}', data[i].autor).replace('${resumoApresentacao}', data[i].tituloApresentacao).replace('${mediaFinal}', data[i].mediaFinal.toFixed(2));
								$('#avaliacoes').append(html);
							}		
						});

        			};
        			break;
			    }
			}
		}
		</script>
		{{> scripts}}
	</body>
</html>
