<title>Avaliador</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/sb-admin.css" rel="stylesheet">
<link href="css/plugins/morris.css" rel="stylesheet">
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<style>
    .navbar-inverse {
        background-color: rgb(57,74,89);
        border-color: rgb(47,64,79);
        
    }
    
    .side-nav{
        background-color: rgb(57,74,89);
        color: white; !important;
    }
    
    .navbar-inverse .navbar-nav{
        background-color: rgb(57,74,89);
        color: white;
    }
    
    .navbar-inverse .navbar-brand {
        color: white;
    }

    .nav .navbar-right .top-nav{
        color: white;   
    }
    
    .fa-user{
        color: white;
    }
    
    .caret{
        color: white;   
    }
    
    .dropdown{
        background-color: rgb(57,74,89);  
    }
    
    .fa-file-o{
        color: white;
    }
    
    .navbar-inverse .navbar-nav>li>a {
        color: white;   
    }
    
    .side-nav>li>ul>li>a {
        color: white;   
    }
</style>
