<!DOCTYPE html>
<html>
	<head>
		{{> head}}
	</head>
	<body id="page-top">
		{{> nav}}
	   <header>
			<div class="header-content">
				<div class="header-content-inner">
					<h1>Avaliador</h1>
					<hr>
					<p>Busque por suas apresentações aqui!</p>
					<center>
						<div class="input-group">
							<input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">Buscar</button>
							</span>
						</div>
					</center>
				</div>
			</div>
		</header>
		{{> scripts}}
	</body>
</html>
