<!DOCTYPE html>
<html>
	<head>
		{{> head}}
	</head>

	<body class="login-img3-body">
		{{> nav}}
		<div class="container">
			<form class="login-form" action="/autenticar-usuario"> 
				<div class="login-wrap">
					<p class="login-img"><img src="img/lock.png" width="40"></p>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input type="text" class="form-control" name="login" placeholder="Nome de Usuário" autofocus required>
					</div>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input type="password" class="form-control" placeholder="Senha" name="senha" required>
					</div>
					<label class="checkbox">
                        <input type="checkbox" value="lembre-me">Lembre-me
						<span class="pull-right"><a href="#">Esqueceu sua senha?</a></span>
					</label>
					<input class="btn btn-primary btn-lg btn-block" type="submit" value="Entrar">
					<a class="btn btn-info btn-lg btn-block" href="/cadastrar-usuario">Cadastrar-se</a>
				</div>
		  </form>
		</div>
		{{> scripts}}
	</body>
</html>
