<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="img/favicon.png">
		<!-- font icon -->
		<link href="css/elegant-icons-style.css" rel="stylesheet" />
		<!-- Custom styles -->
		<link href="css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="css/bootstrap-glyphicons.css">
        <style>
            .checkbox{
                margin-left: 20px;   
            }
            
            .login-form a{
                color: #333 !important;  
            }
        </style>
		{{> head}}
	</head>

	<body class="login-img3-body">
		{{> nav}}
		<div class="container">
			<form class="login-form" action="/entrar"> 
				<div class="login-wrap">
					<p class="login-img"><img src="img/lock.png" width="40"></p>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input type="text" class="form-control" placeholder="Nome de Usuário" autofocus>
					</div>
					<div class="input-group">
						<span class="input-group-addon"></span>
						<input type="password" class="form-control" placeholder="Senha">
					</div>
					<label class="checkbox">
                        <input type="checkbox" value="lembre-me">Lembre-me
						<span class="pull-right"><a href="#">Esqueceu sua senha?</a></span>
					</label>
					<button class="btn btn-primary btn-lg btn-block" type="submit">Entrar</button>
					<button class="btn btn-info btn-lg btn-block" type="submit">Cadastrar-se</button>
				</div>
		  </form>
		</div>
		{{> scripts}}
	</body>
</html>
